<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Drawer</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
        <header class="header">
            <div class="container">
                <h1 class="header__title">Recipe Drawer</h1>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item"><a href="/" class="header_link">Home</a></li>
                        <li class="header__item"><a href="/profile" class="header_link">Profile</a></li>
                        {{#if logged_in}}
            <li><button id="logout" href="/">Logout</button></li>
          {{else}}
            <li><a href="/login">Login</a></li>
          {{/if}}
                    </ul>
                </nav>
            </div>
    <main>
       <div class="container">
          {{{body}}}
      </div>
    </main>
  </body>

  </html>

