<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Drawer</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

    <body>
        <header class="header">
            <div class="container">
                <h1 class="header__title">Recipe Drawer</h1>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item"><a href="/" class="header_link">Home</a></li>
                        <li class="header__item"><a href="/recipes" class="header_link">Recipes</a></li>
                        <li class="header__item"><a href="/login" class="header_link">Login</a></li>
                    </ul>
                </nav>
            </div>
    </body>
    <main>
       <div class="container">
        {{{body}}}
        </div>
    </main>